<form action="/" method="post">
<h1>Enter a word and a list of words to see anagram matches</h1>
<div class="form-group">
  <label for="word-to-compare">Enter a word:</label>
  <input class="form-control" id="word-to-compare" name="word-to-compare" type="text" required="true">
</div>
<h3>Enter up to five words</h3>
<div class="form-group">
  <label for="word-one">Word 1:</label>
  <input class="form-control" id="word-one" name="word-one" type="text" required="true">
</div>
<div class="form-group">
  <label for="word-two">Word 2:</label>
  <input class="form-control" id="word-two" name="word-two" type="text" required="false">
</div>
<div class="form-group">
  <label for="word-three">Word 3:</label>
  <input class="form-control" id="word-three" name="word-three" type="text" required="false">
</div>
<div class="form-group">
  <label for="word-four">Word 4:</label>
  <input class="form-control" id="word-four" name="word-four" type="text" required="false">
</div>
<div class="form-group">
  <label for="word-five">Word 5:</label>
  <input class="form-control" id="word-five" name="word-five" type="text" required="false">
</div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
